.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10%;
}

.adm-list-default .adm-list-body{
    border:0;
}

.adm-form-item-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adm-form-item-feedback-error,.adm-form-item-label{
    text-align: start;
}

.adm-list-item-content{
    border: 0;
}


