.adm-dropdown-item {
    justify-content: flex-start;
  }
  
  .adm-dropdown-item .adm-dropdown-item-title {
    font-size: 16px;        
    flex-direction: row-reverse;
     gap: 5px; 
  }
  
.custom{
  --background-color:#059669;
}